[submodule "pre-shantia"]
    path = pre-shantia
    url = git@github.com:Panizsh68/pre-shantia.git

[submodule "pre-shantia-front"]
    path = pre-shantia-front
    url = git@github.com:Httpskasra/AriaSakhtDemo0.1.git